<?xml version="1.0"?>
<launch>

  <include file="$(find wit-imu-driver)/launch/WT901C.launch" >
     <!-- <arg name="no_static_map" default="true"/> -->
  </include>

  <node pkg="tf" type="static_transform_publisher" name="tf_bc" args="0.3 0 0.35 0 0 0 /base_link /imu_link 100" /> 

<!-- source: https://github.com/ipa320/cob_navigation/blob/indigo_dev/cob_navigation_slam/launch/rviz.launch -->
  <!-- start rviz with configuration -->
  <node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find wit-imu-driver)/rviz_config/view_imu.rviz" respawn="false" output="screen" />

</launch>